@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: slategray;
  font-family: "Lato", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.movie-container {
  margin: 20px 0px;
}

.movie-container select {
  background-color: white;
  border: 0;
  border-radius: 5px;
  margin-left: 10px;
  padding: 5px 20px;
  font-size: 14px;
}

.seat {
  background-color: darkgray;
  height: 16px;
  width: 15px;
  margin: 3px;
  border-radius: 7px 7px 0px 0px;
}

.seat.selected {
  background-color: lightblue;
}
.seat.occupied {
  background-color: whitesmoke;
}
.seat:nth-of-type(2) {
  margin-right: 18px;
}
.seat:nth-last-of-type(3) {
  margin-right: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.3);
}

.legend .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}
.row {
  display: flex;
}

.legend {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 8px;
  list-style-type: none;
  color: lightgray;
  display: flex;
  justify-content: space-between;
}

.legend li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.legend li small {
  margin-left: 2px;
}

.screen {
  background-color: white;
  height: 70px;
  width: 100%;
  border-radius: 10px;
  margin: 15px 0;
  transform: rotateX(135deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.container {
  perspective: 900px;
  margin-bottom: 20px;
}

p.text span,
.dollar-sign {
  color: antiquewhite;
  font-size: 17px;
  font-weight: bold;
}
